﻿<!--
{{liebre}}

{{tortuga}}
    <div class="row">
        <div class="col-sm-6">
            <h2>Datos de la liebre</h2>
            <form ng-submit="editLiebre(liebre)">
                <div class="form-group">
                    <label class="custom-control-label"> Nombre</label>
                    <div class="">
                        <input type="text" class="form-control" ng-model="liebre.nombre" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="custom-control-label"> Velocidad</label>
                    <div class="">
                        <input type="number" class="form-control" ng-model="liebre.velocidad" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="">
                        <input type="submit" class="btn btn-success" value="Asignar" />
                    </div>
                </div>
            </form>
        </div>

        <div class="col-sm-6">
            <h2>Datos de la tortuga</h2>
            <form ng-submit="editTortuga(tortuga)">
                <div class="form-group">
                    <label class="custom-control-label"> Nombre</label>
                    <div class="">
                        <input type="text" class="form-control" ng-model="tortuga.nombre" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="custom-control-label"> Velocidad</label>
                    <div class="">
                        <input type="number" class="form-control" ng-model="tortuga.velocidad" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="">
                        <input type="submit" class="btn btn-success" value="Asignar" />
                    </div>
                </div>
            </form>
        </div>
    </div>

    -->

<div>
    <button ng-click="simularCarrera()">
        Simular
    </button>
</div>


<!--



<div>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block imagenesFabula" src="/imagenes/inicioFabula.jpg" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>La fábula de la liebre y la tortuga.</h5>
                    <p class="fondoLetrasFabula">
                        En el mundo de los animales vivía una liebre muy orgullosa y vanidosa, que no cesaba de pregonar que ella era el animal más veloz del bosque, y que se pasaba el día burlándose de la lentitud de la tortuga.

                        - ¡Eh, tortuga, no corras tanto! Decía la liebre riéndose de la tortuga.

                        Un día, a la tortuga se le ocurrió hacerle una inusual apuesta a la liebre:

                        - Liebre, ¿vamos hacer una carrera? Estoy segura de poder ganarte.

                        - ¿A mí? Preguntó asombrada la liebre.

                        - Sí, sí, a ti, dijo la tortuga. Pongamos nuestras apuestas y veamos quién gana la carrera.

                        La liebre, muy engreída, aceptó la apuesta prontamente.
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block imagenesFabula" src="/imagenes/inicioCarrera.jpg" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>La confianza de la liebre.</h5>
                    <p class="fondoLetrasFabula">
                        Astuta y muy confiada en sí misma, la liebre salió corriendo, y la tortuga se quedó atrás, tosiendo y envuelta en una nube de polvo. Cuando empezó a andar, la liebre ya se había perdido de vista. Sin importarle la ventaja que tenía la liebre sobre ella, la tortuga seguía su ritmo, sin parar.

                        La liebre, mientras tanto, confiando en que la tortuga tardaría mucho en alcanzarla, se detuvo a la mitad del camino ante un frondoso y verde árbol, y se puso a descansar antes de terminar la carrera. Allí se quedó dormida, mientras la tortuga seguía caminando, paso tras paso, lentamente, pero sin detenerse.
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block imagenesFabula" src="/imagenes/climaxFabula.jpg" alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>La tortuga adelanta a la liebre.</h5>
                    <p class="fondoLetrasFabula">No se sabe cuánto tiempo la liebre se quedó dormida, pero cuando ella se despertó, vio con pavor que la tortuga se encontraba a tan solo tres pasos de la meta. En un sobresalto, salió corriendo con todas sus fuerzas, pero ya era muy tarde...</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block imagenesFabula" src="/imagenes/finalFabula.jpg" alt="Fourth slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>La sorpresa.</h5>
                    <p class="fondoLetrasFabula">¡la tortuga había alcanzado la meta y ganado la carrera!</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block imagenesFabula" src="/imagenes/moralejaFabula.jpg" alt="Fifth slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>moraleja.</h5>
                    <p class="fondoLetrasFabula">Ese día la liebre aprendió, en medio de una gran humillación, que no hay que burlarse jamás de los demás. También aprendió que el exceso de confianza y de vanidad, es un obstáculo para alcanzar nuestros objetivos. Y que nadie, absolutamente nadie, es mejor que nadie.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev" target="_self">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next" target="_self">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


</div>



<br />

<div class="container bg-light">
    <div class="col-md-12 text-center">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Comenzar carrera</button>
    </div>
</div>

-->
<!-- Modal -->
<!--


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Estadisticas de la carrera</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <h2>Tortuga</h2>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" ng-repeat="value in valoresTortuga" aria-valuenow="{{value}}" aria-valuemin="0" aria-valuemax="100" style="width:{{value}}%">
                            {{value}}% |
                        </div>
                    </div>
                </div>
                <div class="container">
                    <h2>Liebre</h2>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" ng-repeat="value in valoresConejo" aria-valuenow="{{value}}" aria-valuemin="0" aria-valuemax="100" style="width:{{value}}%">
                            {{value}}% |
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
            </div>
        </div>
    </div>
</div>

-->
