﻿<div class="row divs-inicio">

    <div class="col-sm-6">

        <div class="card cards" style="width: 25rem;">
            <img class="card-img-top" src="/imagenes/liebre.jpg" alt="Liebre">
            <div class="card-body">
                <p class="card-text">La liebre es un animal muy veloz pero perezoso.</p>
            </div>
        </div>


    </div>
    <div class="col-sm-6">
        <div class="card cards" style="width: 25rem;">
            <img class="card-img-top" src="/imagenes/tortuga.jpg" alt="Tortuga">
            <div class="card-body">
                <p class="card-text">La tortuga es un animal muy lento pero perseverante.</p>
            </div>
        </div>

    </div>
</div>